<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1>Note List</h1>

    <ul th:if="${notes}">
        <li th:each="note : ${notes}">
            <p th:text="${note.title} + ' - ' + ${note.content}"></p>
            <a th:href="@{/note/edit(id=${note.id})}" class="btn btn-primary">Edit</a>
            <form th:action="@{/note/delete}" method="post" class="d-inline">
                <input type="hidden" name="id" th:value="${note.id}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
    </ul>

    <a href="/note/edit" class="btn btn-success">Add Note</a>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
